*{

    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 11fr 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
}

header {
    display: flex;
    grid-area: 1 / 1 / 2 / 3;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: lightgrey;
}

#welkom {
    grid-area: 1 / 1 / 2 / 2 ;
    color: orangered;
    font-size: large;
    float: left;
    width: 50%;
}

a:active {
    font-weight: bold;
}

a:link {
    color: orangered;
}

a:visited {
    color: blue;
}

a:hover {
    color: blue;
}

header nav {
    grid-area: 1 / 2 / 2 / 3;
    right: 0px;
}

main {
    display: flex;
    grid-area: 2 / 1 / 3 / 3;
    padding: 0%;
    height: 80%;

}

footer {
    grid-area: 3 / 1 / 4 / 3;
    height: 4%;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: lightgray;
}
